<h1>New Car To Park</h1>
<%= render 'parking_lots' %>
<p>
  <label>Available Lot: <strong><%= ParkingLot.available_lot %></strong></label>
</p>
<%= render 'form' %>
<br>
<%= link_to 'Back To Parking Lots', root_path %>
