<h1>Car Parking Lot</h1>
<%= link_to 'New Parking Lot', new_parking_lot_path if ParkingLot.all.size == 0 %>
<% if ParkingLot.all.size != 0 %>
<%= render 'parking_lots' %>
<br>
<%= link_to 'New Car To Park', new_car_to_park_parking_lots_path %>
<% end %>